img{
    max-width: 100%;
}
.recipe-feature{
    width: 60px;
    height: 60px;
    display: flex;
    border-radius: 50% !important;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.mb-4{
    margin-bottom: 20px;
}
main{
    padding: 20px !important;
}