img{
    max-width: 100%;
}
.recipe-feature{
    width: 60px;
    height: 60px;
    display: flex;
    border-radius: 50% !important;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.mb-4{
    margin-bottom: 20px;
}
main{
    padding: 20px !important;
}
.image-background{
    background-size: cover;
    min-height: 450px;
    background-repeat: no-repeat;
    background-position: center;
}
@media screen and (max-width: 767px){
    .image-background{
        min-height: 200px;
    }
    img{
        width: 100%;
    }
}
canvas{
    max-width: 100%;
}
.d-none{
    display: none;
}